---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Barrier Options Hedging</title>
    <link rel="stylesheet" type="text/css" href="/iodide.css/iodide.css" />
    <base target="_blank" rel="noopener noreferrer" />
  </head>
  <body>
    <div id="notebook-header"></div>
    <div id="editor-react-root"></div>
    <script id="iomd" type="text/iomd">%% md
{% include_relative part12.md %}

%% py
{% include_relative script12.py %}

%% md
```python
{% include_relative script12.py %}
```

%% py
{% include_relative script34.py %}

%% md
```python
{% include_relative script34.py %}
```

%% py
{% include_relative script5.py %}

%% md
```python
{% include_relative script5.py %}
```
    </script>
    <iframe
      id="eval-frame"
      src=".//eval-frame.html"
      sandbox="allow-scripts allow-modals allow-same-origin"
      allowfullscreen="true"
      allowvr="yes"
    ></iframe>
    <script>
      window.evalFrameOrigin = "{{ site.url }}";
    </script>
    <script src="/iodide.js/iodide.js"></script>
  </body>
</html>
